@charset "UTF-8";

.nav-item {
	border-right: 2px solid #a0522d;
}

.nav-link:hover {
	background-color: #28a745;
	color: #212529;
}

.upbox img {
	width: 140px;
	height: auto;
}

.bi {
	font-size: 24px;
	padding: 10px;
}

strong {
	font-size: 15px;
}

.nav-link {
	color: #000 !important
}

.nav-item:last-child {
	border-right: none;
}

ul.nav {
	justify-content: center;
	border-bottom: 2px solid #a0522d;
}

.contanier {
	display: flex;
	height: 60%;
	height: 100%;
}

.leftbox {
	display: flex;
	flex-direction: column;
	width: 15%
}

.upbox {
	flex-direction: column;
	height: 50%;
	padding: 10px 10px 0px 10px;
	margin: 5px;
}

.downbox {
	height: 50%;
	flex-direction: column;
}

.list-group {
	max-height: 250px;
	overflow: hidden;
}

.centerbox1 {
	background-color: green;
	width: 75%;
	margin: 10px;
}

.centerbox2 {
	width: 20%;
	display: flex;
	flex-direction: column;
	margin: 10px;
	text-align: center;
}

.logo_img {
	width: 250px;
	padding: 15px;
}

.list-group {
	max-height: 200px;
	overflow-y: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
	width: 80%;
}

.list-group::-webkit-scrollbar {
	display: none;
}
.rightbox {
	display: flex;
	flex-direction: column;
	width: 15%
}
.todo {
	flex-direction: column;
}