@charset "UTF-8";

.l_c_container {
	height: 100vh;
}

.imgBox {
	display: flex;
	justify-content: center
}

.form-control {
	width: 300px;
	padding: 10px;
	margin: 5px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-bottom: 10px;
	width: 100%;
	margin-top: 20px;
}

.loginContiner {
	width: 500px;
	height: 800px;
	box-shadow: 3px 3px 3px 3px #5555;
}

img {
	margin-top: 20px;
	width: 400px;
}

.methodBox {
	margin-top: 45px;
	padding: 0 85px;
	width: 100%;
}

.loginBox {
	margin-top: 20px;
	padding: 0 85px;
	width: 100%;
}

.btn {
	width: 100%;
	height: 45xp;
}

placeholder {
	width: 100%;
}

.btn.custom-btn-success {
	background-color: #91D653;
	margin-top: 30px;
}

.login.flex_container {
	gap: 10px;
}

.btn.nonmem-btn-success {
	background-color: #808080;
	color: #fff;
}

.carousel-inner img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.socialBox {
	display: flex;
	height: 800px;
	flex-direction: column;
	gap: 20px;
	align-items: center;
	margin-left: 60px;
}

.socialBox  button {
	width: 430px;
	height: 45px;
	border: none;
	border-radius: 7px;
}

.socialIcon {
	position: relative;
	right: 85px;
	font-size: 22px;
}

button.gogle-login {
	background-color: cornflowerblue;
	color: white;
}

span {
	width: 200px;
	font-weight: 600;
}

i.bi.bi-google {
	color: white;
}

button.github-login {
	background-color: black;
	color: white;
}

i.bi.bi-github {
	color: white;
}

.naverLogo {
	font-weight: bolder;
	font-size: x-large;
	width: 22px;
}

button.naver-login {
	background-color: #03C75A;
	color: white;
}

button.kakao-login{
	background-color: rgb(250, 225, 0);
	color: black;
}

.search-box {
	margin-top: 50px;
	gap: 25px;
}
.search-box  button{
	border: none;
    background-color: white;
    color: grey;
}