@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

.logolineConainer img {
	width: 250px;
	height: 78px;
	justify-content: center;
}

.logolineConainer {
	display: flex;
	justify-content: space-between;
	padding: 20px 40px 16px;
}

.searchingbar {
	min-width: 300px;
	height: 52px;
}

header ol {
	display: flex;
	list-style-type: none;
	gap: 36px
}

.barbutton {
	display: flex;
	align-items: center;
	width: 423px;
	justify-content: center;
	margin: 20px auto;
}

.barbutton input {
	flex: 1;
	height: 40px;
	border: 1px solid #ccc;
	border-radius: 22px 0 0 22px; /* 왼쪽 모서리 둥글게 */
	padding: 0 12px;
	box-sizing: border-box;
	outline: none;
}

.barbutton button {
	height: 40px;
	border: 1px solid #28a745;
	background-color: #28a745;
	color: #fff;
	border-radius: 0 22px 22px 0; /* 오른쪽 모서리 둥글게 */
	cursor: pointer;
}

.carousel-inner {
	padding: 20px 40px 16px;
}

.carousel-inner {
	height: 470px;
	align-items: center;
	justify-content: center;
}

.carousel-item {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.custom_c_s {
	margin: 60px 150px;
}
.img_size{
	width: 1050px;
	height: 450px;
}