@charset "UTF-8";

/* 사이드바 */
.sidebar {
	width: 260px;
    height: 100%;
	background: white;
	border-right: 1px solid #e5e7eb;
	padding: 24px 0;
}

.sidebar-header {
	padding: 0 24px 16px;
	color: #6b7280;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}

/* .menu-item {
	padding: 12px 24px;
	cursor: pointer;
	transition: all 0.2s ease;
	color: #4b5563;
	font-weight: bold;
	font-size: 15px;
	border-left: 3px solid transparent;
} */
.menu-item {
    padding: 14px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: #4b5563;
	font-weight: bold;
	font-size: 15px;
    border-left: 3px solid transparent;
    position: relative;
}
.menu-item:hover {
	background: #f0fdf4;
	color: #2d6a4f;
}

.menu-item.active {
	background: #f0fdf4;
	color: #2d6a4f;
	border-left-color: #2d6a4f;
	font-weight: 600;
}

.menu-icon {
	font-size: 20px;
	width: 24px;
	text-align: center;
}
/* 서브메뉴 */
.menu-item.has-submenu {
    cursor: pointer;
}

.submenu {
    display: none;
}

.submenu.active {
    display: block;
}

.submenu-item {
    padding: 20px 20px 5px 12px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: #4b5563;
    font-size: 13px;
    position: relative;
}

.submenu-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.submenu-item.active {
    background-color: rgba(255, 255, 255, 0.2);
    font-weight: bold;
}

.menu-icon.arrow {
    transition: transform 0.3s;
}

.menu-item.has-submenu.open .menu-icon.arrow {
    transform: rotate(90deg);
}