@charset "UTF-8";

header {
	background-color: white;
	padding: 0;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
	position: sticky;
	top: 0;
	font-family: 'normal';
	z-index: 1000;
}

.flex_container.heder_container {
	justify-content: space-between;
	padding: 0 35px;
}

.logo {
	width: 180px;
}

.main_kategorie_box {
	height: 100%;
	gap: 30px;
	font-size: 18px;
	font-weight: bold;
	gap: 30px;
}

.main_user_box {
	gap: 30px;
	font-size: 15px;
}

.main_kategorie_box div {
	padding: 20px;
	height: calc(100% - 4px);
	position: relative;
	overflow: hidden;
}

.main_kategorie_box div::after {
	content: '';
	position: absolute;
	bottom: 8px;
	left: 0;
	height: 3px;
	background-color: green;
	width: 100%;
	transform: scaleX(0);
	transform-origin: center;
	transition: transform 0.1s ease-out;
}

.main_kategorie_box div:hover::after {
	transform: scaleX(1);
}

.main_kategorie_box div.active::after {
	transform: scaleX(1);
}

.fs-3 {
	color: #28a745;
}

#profile-icon-span {
	cursor: pointer;
}

#profile-dropdown-menu {
	display: none;
}

#profile-icon-container {
	width: 180px;
	display: flex;
	justify-content: end;
}

.fs-3 {
	cursor: pointer;
}

a#dropdownMenuLink {
	color: white;
	background-color: white;
	border: none;
}

.dropdown-toggle {
	box-shadow: none !important;
}

.dropdown-menu {
	text-align: center;
}