<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BoardMapper">
	<insert id="insertBoard" parameterType="com.groo.model.BoardDTO">
		INSERT INTO BOARD
			(
				BOARD_ID,
				MEM_ID,
				BOARD_TYPE_ID,
				POST_TITLE,
				POST_CONTENT
			)
		VALUES
			(
				'B'||BOARD_SEQ.NEXTVAL,
				#{memId},
				#{boardTypeId},
				#{postTitle},
				#{postContent}
			)
	</insert>
	
	<select id="selectBoard" resultType="com.groo.model.BoardDTO">
		SELECT 
			A.BOARD_ID,
			B.MEM_NICK,
			A.POST_TITLE,
			A.POSTING_DATE,
			A.POST_VIEWS,
			(SELECT
				COUNT(C.COMENT_ID)
			FROM COMENT C
			WHERE
				C.COMENT_END IS NULL AND
				C.BOARD_ID = A.BOARD_ID
		    ) AS COMENT_COUNT
		FROM BOARD A
		LEFT JOIN MEMBER B ON (A.MEM_ID = B.MEM_ID)
		<where>
		    POSTING_DEL IS NULL 
		    
		    <if test="boardTypeId != null and boardTypeId != ''">
		        AND A.BOARD_TYPE_ID = #{boardTypeId}
		    </if>
		    
		    <trim prefix="AND (" suffix=")" prefixOverrides="OR">
		        <if test="findField == 'title'">
		            OR A.POST_TITLE LIKE '%' || #{findName} || '%'
		        </if>
		        <if test="findField == 'contents'">
		            OR A.POST_CONTENT LIKE '%' || #{findName} || '%'
		        </if>
		        <if test="findField == 'titleAndContent'">
		            OR A.POST_TITLE LIKE '%' || #{findName} || '%'
		            OR A.POST_CONTENT LIKE '%' || #{findName} || '%'
		        </if>
		        <if test="findField == 'author'">
		            OR B.MEM_NICK LIKE '%' || #{findName} || '%'
		        </if>
		    </trim>
		</where>
		ORDER BY A.POSTING_DATE DESC
	</select>
	
	<select id="selectBoardDetail" resultType="com.groo.model.BoardDTO">
		SELECT 
			A.BOARD_ID,
			B.MEM_NICK,
			A.POST_TITLE,
			A.POSTING_DATE,
			A.POST_VIEWS,
			(SELECT
				COUNT(C.COMENT_ID)
			FROM COMENT C
			WHERE
				C.COMENT_END IS NULL AND
				C.BOARD_ID = A.BOARD_ID
		    ) AS COMENT_COUNT,
		    A.POST_CONTENT
		FROM BOARD A
		LEFT JOIN MEMBER B ON (A.MEM_ID = B.MEM_ID)
		WHERE BOARD_ID = #{boardId}
	</select>
	
</mapper>