<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ReportMapper">
	<insert id="insertReport" parameterType="com.groo.model.ReportDTO">
		INSERT INTO REPORT 
		(
			REPORT_ID,
			MEM_ID,
			BOARD_ID,
			COMENT_ID,
			REPORT_CONTENT,
			REPORT_DATE
		)VALUES(
			'R'||REPORT_SEQ.NEXTVAL,
			(SELECT MEM_ID FROM MEMBER WHERE MEM_LOGIN_ID = #{memReporter}),
			#{boardId},
			#{comentId},
			#{reportContent},
			SYSDATE
		)
	</insert>
	<select id="memberSelectBeenCheck" parameterType="com.groo.model.ReportDTO" resultType="com.groo.model.ReportDTO">		    
		SELECT *
		FROM (
		    SELECT
		        C.MEM_LOGIN_ID,
		        A.REPORT_CONTENT,
		        A.ACTION_DATE,
		        A.ENDACTION_DATE,
		        CASE
		            WHEN A.ENDACTION_DATE >= SYSDATE THEN 'Y'
		            ELSE 'N'
		        END AS BEEN_COUNT
		    FROM
		        REPORT A
		    INNER JOIN BOARD B ON (A.BOARD_ID = B.BOARD_ID) 
		    INNER JOIN MEMBER C ON (B.MEM_ID = C.MEM_ID)
		    WHERE C.MEM_LOGIN_ID = #{memLoginId}
		
		    ORDER BY A.ENDACTION_DATE DESC 
		)
		WHERE ROWNUM = 1
	</select>
</mapper>