<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="TeamMapper">

	<select id="selectTeam" parameterType="com.groo.model.TeamDTO"
		resultType="com.groo.model.TeamDTO">
		SELECT 
			STUDY_ID,
			STUDY_TITLE,
			STUDY_CATEGORY,
			STUDY_MAX,
			STUDY_INTRO,
			STUDY_INTROCONTENT,
			STUDY_CREATEDATE
		FROM STUDY
		<where>
			AND STUDY_DELETEDATE IS NULL
			<trim prefix="AND (" suffix=")" prefixOverrides="OR">
				<if test="studyId != null and studyId != ''">
					OR STUDY_ID LIKE '%' || #{studyId} || '%'
				</if>
				<if test="studyTitle != null and studyTitle != ''">
					OR STUDY_TITLE LIKE '%' || #{studyTitle} || '%'
				</if>
				<if test="studyCategory != null and studyCategory != ''">
					OR STUDY_CATEGORY LIKE '%' || #{studyCategory} || '%'
				</if>
				<if test="studyMax != null and studyMax != ''">
					OR STUDY_MAX LIKE '%' || #{studyMax} || '%'
				</if>
				<if test="studyIntro != null and studyIntro != ''">
					OR STUDY_INTRO LIKE '%' || #{studyIntro} || '%'
				</if>
				<if test="studyIntroContent != null and studyIntroContent != ''">
					OR STUDY_INTROCONTENT LIKE '%' || #{studyIntroContent} || '%'
				</if>
				<if test="studyCreateDate != null and studyCreateDate != ''">
					OR STUDY_CREATEDATE LIKE '%' || #{studyCreateDate} || '%'
				</if>
			</trim>
		</where>
	</select>
	<select id="selectDisableTeam" parameterType="com.groo.model.TeamDTO"
		resultType="com.groo.model.TeamDTO">
		SELECT 
			STUDY_ID,
			STUDY_TITLE,
			STUDY_CATEGORY,
			STUDY_MAX,
			STUDY_INTRO,
			STUDY_INTROCONTENT,
			STUDY_DELETEDATE
		FROM STUDY
		<where>
			AND STUDY_DELETEDATE IS NOT NULL
			<trim prefix="AND (" suffix=")" prefixOverrides="OR">
				<if test="studyId != null and studyId != ''">
					OR STUDY_ID LIKE '%' || #{studyId} || '%'
				</if>
				<if test="studyTitle != null and studyTitle != ''">
					OR STUDY_TITLE LIKE '%' || #{studyTitle} || '%'
				</if>
				<if test="studyCategory != null and studyCategory != ''">
					OR STUDY_CATEGORY LIKE '%' || #{studyCategory} || '%'
				</if>
				<if test="studyMax != null and studyMax != ''">
					OR STUDY_MAX LIKE '%' || #{studyMax} || '%'
				</if>
				<if test="studyIntro != null and studyIntro != ''">
					OR STUDY_INTRO LIKE '%' || #{studyIntro} || '%'
				</if>
				<if test="studyIntroContent != null and studyIntroContent != ''">
					OR STUDY_INTROCONTENT LIKE '%' || #{studyIntroContent} || '%'
				</if>
				<if test="studyCreateDate != null and studyCreateDate != ''">
					OR STUDY_DELETEDATE LIKE '%' || #{studyCreateDate} || '%'
				</if>
			</trim>
		</where>
	</select>
	<select id="selectStateTeam" resultType="com.groo.model.TeamAvgDTO">
			SELECT
				COUNT(*) AS total_teams,
				COUNT(CASE WHEN STUDY_DELETEDATE IS null THEN 1 END) AS active_teams,
				COUNT(CASE WHEN STUDY_DELETEDATE IS NOT null THEN 1 END) AS inactive_teams,
				COUNT(CASE WHEN TRUNC(STUDY_CREATEDATE ,'IW') = TRUNC(SYSDATE, 'IW') THEN 1 ELSE NULL END) AS weekly_teams
			FROM STUDY
	</select>
	
	<update id="deleteTeam" parameterType="com.groo.model.TeamDTO">
		UPDATE STUDY
			SET STUDY_DELETEDATE = SYSDATE
		WHERE STUDY_ID = #{studyId}
	</update>
	<update id="activateTeam" parameterType="com.groo.model.TeamDTO">
		UPDATE STUDY
			SET STUDY_DELETEDATE = NULL
		WHERE STUDY_ID = #{studyId}
	</update>
	
	<insert id="insertTeam" parameterType="com.groo.model.TeamDTO">
		<selectKey keyProperty="studyId" resultType="String" order="BEFORE">
	        SELECT 'S' || STUDY_SEQ.NEXTVAL FROM DUAL
	    </selectKey>
		INSERT INTO STUDY
		(
			STUDY_ID,
			STUDY_TITLE,
			STUDY_CATEGORY,
			STUDY_MAX,
			STUDY_PASS,
			STUDY_INTRO
		)VALUES(
			#{studyId},
			#{studyTitle},
			#{studyCategory},
			#{studyMax},
			#{studyPass},
			#{studyIntro}
		)
	</insert>
	
	<select id="selectMyTeam" parameterType="com.groo.model.TeamDTO" resultType="com.groo.model.TeamDTO">
		SELECT 
			C.STUDY_ID,
			C.STUDY_TITLE,
			C.STUDY_LIKE,
			(SELECT COUNT(*) FROM STUDYMEMBER WHERE STUDY_ID = C.STUDY_ID) AS STUDY_MAX,
			(SELECT B.MEM_NICK FROM STUDYMEMBER A INNER JOIN MEMBER B ON (A.MEM_ID = B.MEM_ID) WHERE A.STUDY_ROLL = 'L' AND A.STUDY_ID = C.STUDY_ID) AS MEM_NICK,
			C.STUDY_GOLD,
			C.STUDY_SILVER,
			C.STUDY_BLONZE
		FROM STUDYMEMBER A
		INNER JOIN MEMBER B ON (A.MEM_ID = B.MEM_ID)
		INNER JOIN STUDY C ON (A.STUDY_ID = C.STUDY_ID)
		WHERE B.MEM_LOGIN_ID = #{memLoginId}
		ORDER BY C.STUDY_TITLE
	</select>
	
	<select id="teamselectAll" parameterType="com.groo.model.TeamDTO" resultType="com.groo.model.TeamDTO">
		SELECT * FROM STUDY
	</select>
	
	
</mapper>