<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TeamMemberMapper">
	
	<insert id="insertTeamMember" parameterType="com.groo.model.TeamMemberDTO">
		INSERT INTO STUDYMEMBER
		(
			MEM_ID,
			STUDY_ID,
			STUDY_ROLL
		)VALUES(
			(SELECT MEM_ID FROM MEMBER WHERE MEM_LOGIN_ID = #{memId}),
			#{studyId},
			#{studyRoll}
		)
	</insert>
	
	<select id="selectTeamMember" parameterType="com.groo.model.TeamMemberDTO" resultType="com.groo.model.TeamMemberDTO">
		SELECT 
			C.STUDY_TITLE,
			A.MEM_ID,
			CASE A.STUDY_ROLL
				WHEN 'M' THEN '팀원'
				WHEN 'L' THEN '팀장'
				ELSE '알수없음'
			END AS STUDY_ROLE,
			B.MEM_NICK,
			B.MEM_EMAIL,
			A.STUDY_JOINEDDATE
		FROM STUDYMEMBER A
		INNER JOIN MEMBER B ON (A.MEM_ID = B.MEM_ID)
		INNER JOIN STUDY C ON (A.STUDY_ID = C.STUDY_ID)
		WHERE A.STUDY_ID = #{studyId}
	</select>
	
	<select id="selectTeamLeader" parameterType="com.groo.model.TeamMemberDTO" resultType="com.groo.model.TeamMemberDTO">
		SELECT
			A.STUDY_ROLL
		FROM STUDYMEMBER A
		INNER JOIN MEMBER B ON (A.MEM_ID = B.MEM_ID)
		WHERE A.STUDY_ID = #{studyId} AND B.MEM_LOGIN_ID = #{memLoginId}
	</select>
</mapper>