<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.groo.mapper.TeamMapper">

	<insert id="insertTeam" parameterType="com.groo.model.TeamDTO">
		INSERT INTO team (TEAM_NAME, USER_ID, TEAM_INFO)
		VALUES (#{teamName}, #{userId}, #{teamInfo})
	</insert>

	<select id="selectTeam" parameterType="com.groo.model.TeamDTO">
		SELECT *
		FROM TEAM
		WHERE
		USER_ID = #{userId}
	</select>
</mapper>